



body{
  font-family: 'Gothic A1', sans-serif;
}

/*------------------top bar--------------------------  */
/* #topbar-company-info{
  font-size: 0.8rem;
}
#topbar-link-wrapper a{
  font-size: 0.8rem;
  font-weight: bold;
  font-family: GothamBold;
} */


/*----------------------end top bar---------------------  */

/* ---------------------contact us------------------ */
/* .contactus-tb-company{
  font-family: GothamBold;
} */
/* .contactus-wrapper{
  font-family: GothamBold;
}

.contactus-tb-company{
  font-size: 0.9rem;
}
.contactus-tb-company h2{
  font-size: 1.0rem;
} */
