*{
  box-sizing: border-box;
}
body{
  font-family: Kanit;
}
/* .body-wrapper{
  margin-top: 40px;
} */

.container-100vh{
  height: 100vh;
  /* background-color: red; */
}

.no-decoration:hover{
  text-decoration: none;
}

.flex-even {
  flex: 1;
}
.bg-red{
  background-color: red;
}
.bg-yellow{
  background-color: yellow;
}
.bg-green{
  background-color: green;
}
.bg-blue{
  background-color: blue;
}
.bg-pink{
  background-color: pink;
}

.img-bw{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}
.topbar{
  display: none;
}
#topbar-company-info{
  margin-top: 0px;
  margin-bottom: 10px;
  display: none;
  font-size: 0.8rem;
}
#topbar-company-info a{
  color:black;
}
.top-bar-logo{
  width: 150px;
  height: auto;
}
#topbar-link-wrapper a{
  margin-right: 10px;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform:uppercase;
  /* font-size: 0.9rem; */
}
/*  mobile topbar */
.mobile-topbar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  transition: 0.5s;
  /* border-bottom: solid black 1px; */
}
.mobile-top-bar-logo{
  width: 100px;
  height: auto;
  margin-right: 15px;
}
.mobile-topbar-items{
  width: 22px;
  height: auto;
  margin-right: 5px;
}
.mobile-topbar a:hover{
    text-decoration: none;
}

/*  end mobile topbar */

/*  copy right */
.copyright{
  background-color: #0e1b2b;
  color:white;
  font-size: 0.7rem;
  /* font-weight: 200; */
  padding-top: 10px;
  padding-bottom: 10px;

}

/* footer  */

.footer-wrapper{
  background-color: #0e1b2b;
  padding: 10px 30px;
  font-size: 0.7rem;
  display: none;
  font-weight: 200;
}
.footer-wrapper a{
  color:white;
  line-height: 1.6rem;
}
.footer-col{
  padding: 10px 15px;
}


.footer-first-col{
  color:white;
}


.footer-icons-wrapper{
  margin-top: 10px;
}

.footer-qr-wrapper{
  width: 66px;
  height: 66px;
}
.footer-qr-wrapper img{
  width: 100%;
  height: 100%;
}
.footer-social-wrapper{
  width: 25px;
  height: 66px;
  padding-left: 25px;

}
.footer-social-wrapper img{
  /* width: 100%;
  height: 100%; */
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

/* ---------------start mobile footer ------------------ */
.mobile-footer{
  background-color: #0e1b2b;
}
.mobile-footer-wrapper{
  width: 90%;
  max-width: 378px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-footer-logo-wrapper{
  /* width: 30%;
  margin-right: 3%; */
  text-align: center;
  height: auto;

}
.mobile-footer-social-wrapper{
  /* width: 30%;
  margin-right: 3%; */
}
.mobile-footer-company-details{
  font-size: 0.6rem;
  color:white;
}
.mobile-footer-company-details a{
 color:white;
}

/*  */
.mobile-footer-social-icon{
  margin-right: 15px;
}

/* .mobile-footer-logo-wrapper{
  width: 60px;
  height: auto;
}
.mobile-footer-social-wrapper{
  width: 25px;
  height: auto;
}
.mobile-footer-company-details{
  color:white;
  font-size: 0.8rem;
  width: 100px;
} */


/*---------------end mobile fotter  */

/* ------------------------start contact us------------------------ */
.contactus-wrapper{
  padding-top: 50px;
  padding-bottom: 40px;
}
.contactus-compny-details{
  margin-top: 30px;
  font-size: 1rem;
}
.contactus-compny-details h2{
  font-size: 1.2rem;
}

.contactus-QR{
  display:none;
}

.contactus-mail-sent{
  margin-top: 50px;
}

.contact-form-wrapper{
  /* margin-top: 30px; */
  display: none;
}
.google-map-wrapper{
  margin-top: 30px;
  position:relative;
  padding-top:56.25%;
}
.google-map-wrapper iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.google-map-link-wrapper{
  margin-top: 20px;
}

.contactus-send-email{
  color:white;
  background-color: #202b62;
  border:none;
  padding: 5px 10px;
}

/*-------------------------end contact us------------------------------ */


/*-----------------------start home-----------------------------*/
#wowslider-container1{
  padding-top: 45px;
}
.home-second-wrapper{
  margin-top: 20px;
  margin-bottom: 30px;
}
.home-second-wrapper h2{
  font-size: 1.1rem;
}
.home-second-wrapper p{
  font-size: 0.9rem;
}
.home-product-quote div{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
}
.home-product-quote div:nth-child(1){
  border-right:solid #0e1b2b 1px;
}
.home-product-quote div:nth-child(2){
  border-right:solid #0e1b2b 1px;
}
.home-product-quote div:nth-child(3){
  border-right:solid #0e1b2b 1px;
}

.home-image-logo{
  margin-bottom: 20px;
  width: 80px;
}
.home-video-wrapper{
  display: none;
}
.japan-text{
  text-align: justify;
}
.english-text{
  text-align: justify;
}
/* .japan-text{
  font-size: 0.8rem !important;
} */

/*-------------------------end home-----------------------------  */

/*-------------------downloads ------------------------------------  */
.downloads-page-wrapper{
  padding-top: 60px;
  padding-bottom: 40px;
}
.downloads-header{
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}
.downloads-header-2{
  margin-top: 30px;
}
.downloads-header-3{
  margin-top: 30px;
}
.downloads-item-wrapper{
  /* background-color: red; */
  /* margin-top: 10px; */
  margin-bottom: 30px;
}
.downloads-image-wrapper{
  width: 80%;
  margin-left: 10%;
  /* background-color: red; */
}
.downloads-image-wrapper img{
  width: 100%;
  height: auto;

}
.downloads-text-wrapper{
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  margin-left: 10%;
  line-height:15px;
  font-size: 1rem;
}

.download-link-wrapper{
  text-align: center;
}
.download-link-wrapper a{
   color:grey;
   font-size: 0.9rem;
}

/*--------------------end downloads------------------------------------*/


/*----------------start about us---------------------------  */

.aboutus-page-wrapper{
  padding-top: 40px;
  padding-bottom: 100px;
}
.aboutus-page-wrapper h1{
  font-size: 1.8rem;
  /* font-weight: normal; */
}
.aboutus-page-wrapper h2{
  font-size: 1.5rem;
  font-weight: normal;
}
.aboutus-page-wrapper h3{
  font-size: 1.3rem;
}
.aboutus-page-wrapper p{
  font-size: 1rem;
}
.col-no-padding{
    padding: 0px;
}




.aboutus-header{
  margin-top: 20px;
  margin-bottom: 10px;
}
.aboutus-header h2{
  width: 85%;
  margin-left: 15%;
}
.aboutus-profile-text-wrapper{
  margin-top: 20px;
  padding-left: 10px;
}
.aboutus-certificate-text-wrapper{
  margin-top: 20px;
  padding-left: 10px;
}
.aboutus-certificate-text-wrapper a{
  color:black;
  font-size: 0.85rem;
}
.aboutus-img-tiles-wrapper{
  margin-top: 20px;
}
.aboutus-tile{
  width: 12.5%;
  height: auto;
  float: left;
  border: solid white 1px;
}

.project-frame-wrapper{
  position: relative;
}
.project-desc{
  position:absolute;
  right:0px;
  bottom:20px;
  background-color:white;
  color:grey;
  padding-left: 10px;
  padding-right: 10px;
}

/* ------------start products */
.product-header-img-wrapper{
  margin-bottom: 40px;
}
.products-page-wrapper{
  padding-top: 50px;
}
.product-item-wrapper{
  margin-top: 20px;
  border: solid transparent 2px;
}
.product-item-wrapper:hover{
  border: solid grey 2px;
  cursor: pointer;
}
.product-name-wrapper{
  margin-top: 10px;
}
.product-second-wrapper{
  padding-bottom: 80px;
}
/* ----------------end products */


/*---------------start residential lock--------------  */

.residentiallock-page-wrapper{
  /* padding-top: 80px; */
  font-family: Kanit;
}
.residentiallock-page-wrapper h2{
  font-size: 1.4rem;
}
.residentiallock-page-wrapper p{
  font-size: 1rem;
}
.residentiallock-product-li{
  font-weight: 300;
}
.smart-lock-icon{
  width: 25px;
  height: 25px;
}
.residentiallock-example1-wrapper{
    /* text-align: center; */
    /* background-color: red; */
    text-align: center;
    padding-top: 30px;
}
.residentiallock-example-img-wrapper{
  margin-top: 30px;
  width: 25%;
  display: inline-block;;
  /* margin-left:16% ; */
  margin-left: 30px;
}
.residentiallock-example-img-wrapper img{
  width: 100%;
  height: auto;

}
.residentiallock-description-wrapper{
  margin-top: 30px;
}
.tb-residentiallock-spec{
  margin-top: 30px;
  width: 100%;
}
.tb-residentiallock-spec td{
  border:solid black 1px;
  padding: 5px;
}

.residentiallock-second-wrapper{
    padding-top: 50px;
    padding-bottom: 40px;
}



/*--------  home-automation ---------------*/
.homeautomation-page-wrapper{
  padding-top: 50px;
}
/*  home-automation */
.homeautomation-header{
   width: 100%;
   /* margin-right: 10%; */

}
.homeautomation-header img{
   width: 100%;
   height: auto;
}
.homeautomation-img-wrapper:hover{
    cursor: pointer;
}
.video-section-wrapper{
  margin-top: 50px;
  margin-bottom: 40px;
  /* background-color: red; */
}

.homeautomation-img-wrapper{
  width: 40%;
  margin-left: 6.6%;
  margin-top:10px;
}
.homeautomation-img-wrapper img{
  width: 100%;
}

.homeautomation-video-text-wrapper{
  margin-top: 30px;

}
.homeautomation-video-text-wrapper h2{
  font-size: 1.3rem;
}
.homeautomation-video-text-wrapper p{
  font-size: 0.9rem;
}
/* -------------end home automation */

/*-------------oem-header-wrapper  */
.oem-page-wrapper{
  padding-top: 50px;
  padding-bottom: 80px;
}

.oem-header-wrapper{
  /* padding-top: 80px; */
}
.oem-text-wrapper{
   padding-top: 40px;
  /* height: 500px; */
  /* padding: 20px 40px; */
  /* width: 100%; */
  /* margin-top: 40px; */
}

/*  -----------steel pipe---------*/
.steel-page-wrapper{
  padding-top: 80px;
  padding-bottom: 80px;
}
.steep-page-first-wrapper{
  width: 100%;
  height: auto;
}

.steep-page-second-wrapper{
  width: 100%;
  margin-top: 80px;
  height: auto;
}
.steep-page-second-wrapper p{
  text-align: justify;
}
/*---------steel door -------- */
.steeldoor-page-wrapper{
  /* padding-top: 80px; */
  padding-bottom: 80px;
}
.steeldoor-second-row-wrapper{
  padding-top: 0px;
  padding-bottom: 30px;
}
.steepdoor-second-text-wrapper{
  padding-top: 20px;
  height: 100%;
  /* background-color: red; */

}
