/* .dropdown-menu {
	min-width: 200px;
} */

.dropdown-menu.columns-1 {
	min-width: 250px;
	padding: 30px 20px;
}


.dropdown-menu.columns-2 {
	min-width: 800px;
	padding: 40px 20px;
}
.dropdown-menu li{
  list-style: none;
  margin-top: 5px;
	line-height: 1.7rem;
  /* border: solid black 1px; */
}
.dropdown-menu li a {
	font-weight: normal !important;

  /* text-decoration: none; */
  /* padding-left: 5px; */
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
	padding-left: 20px;
  /* padding: 0px; */
}

/* .dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
} */

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
